.cover__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 1184%;
  min-height: 740px;
  z-index: 2;
  background-image: url(../../../images/cover__background.jpg);
  background-size: cover;
  background-position: center;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

